# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Pyright / Mypy
.mypy_cache/
.pytype/

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db

# PEP 582; used by some Python packaging tools
__pypackages__/

# Env files
.env
*.env

# Logs and databases
*.log
*.sqlite3

# Others
*.pyc
*.pyo
*.pyd
